// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #DDDDDF;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.7fr 2.7fr 0.4fr;
  grid-gap: 1px;
  grid-template-areas: "." "." "content" "footer";
}

.navbar {
  grid-area: 1 / 1 / 2 / 5;
  width: 100%;
  background-color: #EEEEEF;
  height: 100%;
  margin: 0;
  border-style: solid;
  border-width: 0px;
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 1fr;
  grid-template-areas: "site-name navbar-buttons avatar";
}

.site-name {
  grid-area: site-name;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}

.site_name_link {
  color: black;
  text-decoration: none;
}

.site_name_link:hover {
  color: #67676F;
}

.navbar-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 80px 0 80px;
  grid-area: navbar-buttons;
}

.myname {
  margin-right: 15px;
  color : black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.myname:hover {
  color: #67676F;
}

.avatar {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
}

.avatar_img {
  width: 75px;
  height: 75px;
  border-radius: 50% !important;
  transition: transform .2s;
}

.avatar_img:hover {
  transform: scale(1.25);
}

.big-title {
  grid-area: 2 / 1 / 3 / 5;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  grid-area: content;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  margin: 0;
}

.content_img {
  width: 376px;
  height: 250.8px;
}

.text-content {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  margin: 0;
}

.footer {
  height: 60px;
  width: 100%;
  margin: 0;
  grid-area: footer;
  background-color: #EEEEEF;
  border-style: solid;
  border-width: 0px;
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  grid-template-areas: "gitlink networks copyrights";
}

.gitlink {
  grid-area: gitlink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}

.github_link {
  color : black;
  text-decoration: none;
  margin-left: 3px;
  font-weight: bold;
}

.github_link:hover {
  color : #67676F;
}

.networks {
  grid-area: networks;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 80px 0 80px;
}

.net-logo {
  width: 30px;
  height: 30px;
  transition: transform .2s;
}

.net-logo:hover {
  transform: scale(1.25);
}

.copyrights {
  grid-area: copyrights;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
