// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #DDDDDF;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.7fr 2.7fr 0.4fr;
  grid-gap: 2px;
  grid-template-areas: "." "." "content" "footer";
}

.navbar {
  grid-area: 1 / 1 / 2 / 5;
  background-color: #EEEEEF;
  height: 100%;
  margin: 5px 15px;
  border-style: solid;
  border-width: 0px;
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 1fr;
  grid-template-areas: "site-name navbar-buttons avatar";
}

.site-name {
  grid-area: site-name;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}

.navbar-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 80px 0 80px;
  grid-area: navbar-buttons;
}

.myname {
  margin-right: 15px;
  color : black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.myname:hover {
  color: #67676F;
}

.avatar {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
}

.avatar_img {
  width: 75px;
  height: 75px;
  border-radius: 50% !important;
  transition: transform .2s;
}

.avatar_img:hover {
  transform: scale(1.25);
}

.big-title {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  grid-area: content;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  grid-template-areas: "image-content text-content";
}

.image-content {
  grid-area: image-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content_img {
  width: 85%;
  height: 85%;
}

.text-content {
  grid-area: text-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  height: 60px;
  grid-area: footer;
  background-color: #EEEEEF;
  margin: 15px;
  border-style: solid;
  border-width: 0px;
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  grid-template-areas: "gitlink networks copyrights";
}

.gitlink {
  grid-area: gitlink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 25px;
}

.github_link {
  color : black;
  text-decoration: none;
  margin-left: 3px;
  font-weight: bold;
}

.github_link:hover {
  color : #67676F;
}

.networks {
  grid-area: networks;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 80px 0 80px;
}

.net-logo {
  width: 30px;
  height: 30px;
  transition: transform .2s;
}

.net-logo:hover {
  transform: scale(1.25);
}

.copyrights {
  grid-area: copyrights;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
}
